.rtan {
    display: block;
    width: 200px;
    height: 200px;
    margin: 80px auto 50px auto;

    border-radius: 150px;
    border: 3px solid darkred;

    background-color: darkred;
    box-shadow: 0px 0px 10px 0px darkred;
    background-size: cover;
    background-position: center;
    color: white;

    text-align: center;
    text-decoration: none;
    font-size: 32px;
}

.rtan {
    background-image: url('https://new-year.spartacodingclub.kr/images/yearS1.png');
}

.result-title,
.msg {
    color: darkred;
    text-align: center;
    font-size: 32px;
}

.msg {
    line-height: 48px;
    display: none;
}

.btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btns button:first-of-type {
    width: 150px;
    height: 50px;

    color: darkred;
    border: 2px solid darkred;
    background-color: white;

    border-radius: 10px;

    font-size: 20px;
    cursor: pointer;
}

.btns button:nth-of-type(2) {
    width: 150px;
    height: 50px;

    color: white;
    border: 2px solid darkred;
    background-color: darkred;

    border-radius: 10px;

    font-size: 20px;
    cursor: pointer;

    margin-left: 5px;
}

/* 모바일 환경 설정 */
@media screen and (max-width: 780px) {
    body {
        background-position: 70px -70px;
        background-size: 500px;
    }

    .rtan {
        margin-top: 50px;
    }

    .msg {
        margin-bottom: 36px;
        padding: 10px;

        font-size: 24px;
        line-height: 36px;
    }

    .msg>br {
        display: none;
    }
}